<div class="emscripten-wrapper" id="js-city-canvas" style="height: 600px">
    <script id="skyboxVertexShader" type="x-shader/x-vertex">
        varying vec3 vPosition;
        void main() {
            vPosition = position;
            gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
        }
    </script>
    <script id="skyboxFragmentShader" type="x-shader/x-fragment">
        varying vec3 vPosition;
        void main() {
            gl_FragColor = vec4(0.0, 0.0, -vPosition.y / 100.0 + 0.35, 1.0);
        }
    </script>
    <script src="{{ "/js/JSCity.js" | prepend: site.baseurl }} "></script>
</div>