<div class="emscripten-wrapper" id="trinity-wrapper" style="height: 600px">
    <script src="{{ "/js/Sound.js" | prepend: site.baseurl }} "></script>
</div>

<div id="detector" class="vague">
    <div class="pitch"><span id="pitch">--</span>Hz</div>
    <div class="note"><span id="note">--</span></div>   
    <canvas id="output" width=300 height=42></canvas>
    <div id="detune"><span id="detune_amt">--</span><span id="flat">cents &#9837;</span><span id="sharp">cents &#9839;</span></div>
    <span>RMS: </span><span id="rms">--</span>
</div>