h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: none;
    font-variant: small-caps;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}