<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <script>
        document.onready = function() {
            elements = document.getElementsByTagName("img");
            for (var i = 0; i < elements.length; ++i) {
                elements.item(i).className = elements.item(i).className + " img-responsive img-detail";
            }
        };
    </script>
    {% include page-nav.html %}
    <section class="content-section" style="display: table-cell">
        <div class="row">
            <div class="col-md-offset-2 col-xs-offset-1 col-md-8 col-xs-10">
            <h1> {{ page.title }}</h1>
            {{ content }}
            {% include page-navigation.html %}
            </div>
        </div>
    </div>
    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>